<div>
	<div class="slogan container">
        <div class="slogan_container">
			<h2 class="slogan">
				Post your <span style="color: #9f0808;">Request</span>
			</h2>
		</div>
    </div>
	<div>
		<h4 class="question-title">Please choose your event type&nbsp;</h4>
			<ul class="event-bar" style="margin-left: 0;">
					<li *ngFor = "let eventType of quoteDetails.eventTypeList; let i = index;" value="{{eventType.value}}">
						<img class="event-type" alt="{{eventType.imageName}}" src="{{imagesBaseURL + eventType.imageName}}"/>
						<span>{{eventType.displayName}}</span>
					</li>
			</ul>
		</div>
		<div>
			<h4>What is your total budget?</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li *ngFor = "let budget of quoteDetails.budgetRange; let i = index;" value="{{budget.value}}">
					<span>{{budget.displayName}}</span>
				</li>
				<li>
					<span>
						<input type="text" placeholder="Other Amount"/>
					</span>
				</li>
			</ul>
			
		</div>
		<div>
			<h4 class="question-title">Choose the services you need</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li class="services" *ngFor = "let service of quoteDetails.servicesList; let i = index;" value="{{service.value}}">
					<img alt="{{service.imageName}}" src="{{imagesBaseURL + service.imageName}}"/>
					<span>{{service.displayName}}</span>
				</li>
			</ul>
		</div>
		<div>
			<h4 class="question-title">Entertainment</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li class="entertainment-item" *ngFor = "let entertainmentItem of quoteDetails.entertainmentItemsList; let i = index;" value="{{entertainmentItem.value}}">
					<img alt="{{entertainmentItem.imageName}}" src="{{imagesBaseURL + entertainmentItem.imageName}}"/>
					<span>{{entertainmentItem.displayName}}</span>
				</li>
			</ul>
		</div>
		<div>
			<h4 class="question-title">Do you need Event Planner?&nbsp;</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li class="event-planner-item" value="eventpallner-yes"><span>Yes</span>&nbsp;</li>
				<li class="event-planner-item" value="eventpallner-no"><span>No</span>&nbsp;</li>
			</ul>
		</div>
		
		
		<div>
			<div class="abt-event">
				<h4 class="question-title">About your event</h4>
				<table class="table-width">
					<tbody>
						<tr>
							<td valign="top">
								<label for="city">Please choose your City&nbsp;<small class="mandatory-star">*</small></label>
							</td>
							<td valign="top">
								<select style="width: 95%;">
									<option value="">Select City</option>
									<option value="hyderabad">Hyderabad</option>
									<option value="goa">Goa</option>
									<option value="chennai">Chennai</option>
								</select>
							</td>
						</tr>
 
						<tr>
							<td valign="top">
								<label for="location">Any preferred Location</label>
							</td>
							<td valign="top">
								<input type="text" name="location" id="location" maxlength="50" placeholder="Enter your Location" size="30">
							</td>
						</tr>
						<tr>
							<td valign="top">
								<label for="email">What is your event date&nbsp;<small class="mandatory-star">*</small></label>
							</td>
							<td valign="top">
								<input type="text" name="event_date" id="datepicker" class="datepicker hasDatepicker">
							</td>
 
						</tr>
						<tr>
							<td valign="top">
								<label for="telephone">What the expected Guest Count</label>
							</td>
							<td valign="top">
								<input type="number" name="guest_count" id="guest" placeholder="Guest Count" maxlength="30" size="30">
							</td>
						</tr>
						<tr>
							<td valign="top">
								<label for="comments">&nbsp;</label>
							</td>
							<td valign="top">
								<br>&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="abt-you">
				<h4 class="question-title">About you</h4>
				<table class="table-width">
				<tbody>
					<tr>
						<td valign="top">
							<label for="email">Name&nbsp;<small class="mandatory-star">*</small></label>
						</td>
						<td valign="top">
							<input type="text" maxlength="50" placeholder="Enter your full name" size="30">
						</td>
					</tr>
					<tr>
						<td valign="top">
							<label for="city">Email&nbsp;<small class="mandatory-star">*</small></label>
						</td>
						<td valign="top">
							<input type="text" name="email" id="email" maxlength="50" placeholder="name@domain.com" size="30">
						</td>
					</tr>
					<tr>
						<td valign="top">
							<label for="comments">Contact Number&nbsp;<small class="mandatory-star">*</small></label>
						</td>
						<td valign="top">
							<input type="text" maxlength="10" placeholder="Enter your phone number" size="10">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
			<div style="clear:both;">&nbsp;</div>
	</div>
	<div style="text-align:center; margin-bottom:10px;">
		<p>
			<label><input type="checkbox" value="agree">I agree to the Terms and Conditions</label>
		</p>
		<button type="submit" class="red-button" name="submit" value="SUBMIT" style="color: #ffffff;background-color:#8d0202;border-color:#9f2424;">SUBMIT</button>
	</div>
</div>
