<div>
	<div class="slogan container">
        <div class="slogan_container">
			<h2 class="slogan">
				Post your <span style="color: #9f0808;">Request</span>
			</h2>
		</div>
    </div>
	<div>
		<h4 class="question-title">Please choose your event type&nbsp;</h4>
			<ul class="event-bar" style="margin-left: 0;">
				<li class="event-type" value="wedding"><img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/wedding.png"><span>Wedding</span></li>
				<li class="event-type" value="engagement"><img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/engagement.png">Engagement</li>
				<li class="event-type" value="reception"><img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/reception.png">Reception</li>
				<li class="event-type" value="birthday"><img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/birthday.png">Birthday</li>
				<li class="event-type" value="cradle"><img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/cradle.png">CradleCeremony</li>
				<li class="event-type" value="homeevent"><img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/home.png">HomeEvents</li>
				<li class="event-type" value="otherevent"><img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/other.png">OtherEvents</li>
			</ul>
		</div>
		<div>
			<h4>What is your total budget?</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li value="50000"><span>RS-50,000</span></li>
				<li value="1Lakh"><span>RS-1 Lakh</span></li>
				<li value="2Lakhs"><span>RS-2 Lakhs</span></li>
				<li value="3Lakhs"><span>RS-3 Lakhs</span></li>
				<li value="4Lakhs"><span>RS-4 Lakhs</span></li>
				<li value="5Lakhs"><span>RS-5 Lakhs</span></li>
				<li>
					<span>
						<input type="text" placeholder="Other Amount"/>
					</span>
				</li>
			</ul>
			
		</div>
		<div>
			<h4 class="question-title">Choose the services you need</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li class="services"  value="venues">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/venue.png"><span>Venues</span>
				</li>
				<li class="services" value="photovideo">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/photo.png"><span> Photo&amp;Video </span>
				</li>
				<li class="services" value="catering">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/catering.png"><span> catering </span>
				</li>
				<li class="services" value="beauty">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/beauty.png"><span> Beauty&amp;Health </span>
				</li>
				<li class="services" value="decorator">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/decorator.png"><span> Decorator </span>
				</li>
			</ul>
		</div>
		<div>
			<h4 class="question-title">Entertainment</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li class="entertainment-item" value="facepainting">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/face.png"><span>Face&nbsp;Painting</span>
				</li>
				<li class="entertainment-item" value="orchestra">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/orchestra.png"><span>Orchestra</span>
				</li>
				<li class="entertainment-item" value="evententertainers">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/entertainment.png"><span>Event&nbsp;Entertainers</span>
				</li>
				<li class="entertainment-item" value="magicshow">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/magic.png"><span>Magic&nbsp;Show</span>
				</li>
				<li class="entertainment-item" value="mimicry">
					<img src="https://d19vuzhmciufvl.cloudfront.net/hyderabad/images/list-images/mimicry.png"><span>Mimicry</span>
				</li>				
			</ul>
		</div>
		<div>
			<h4 class="question-title">Do you need Event Planner?&nbsp;</h4>
			<ul class="circle-list" style="margin-left: 0;">
				<li class="event-planner-item" value="eventpallner-yes"><span>Yes</span>&nbsp;</li>
				<li class="event-planner-item" value="eventpallner-no"><span>No</span>&nbsp;</li>
			</ul>
		</div>
		
		
		<div>
			<div class="abt-event">
				<h4 class="question-title">About your event</h4>
				<table class="table-width">
					<tbody>
						<tr>
							<td valign="top">
								<label for="city">Please choose your City&nbsp;<small class="mandatory-star">*</small></label>
							</td>
							<td valign="top">
								<select style="width: 95%;">
									<option value="">Select City</option>
									<option value="hyderabad">Hyderabad</option>
									<option value="goa">Goa</option>
									<option value="chennai">Chennai</option>
								</select>
							</td>
						</tr>
 
						<tr>
							<td valign="top">
								<label for="location">Any preferred Location</label>
							</td>
							<td valign="top">
								<input type="text" name="location" id="location" maxlength="50" placeholder="Enter your Location" size="30">
							</td>
						</tr>
						<tr>
							<td valign="top">
								<label for="email">What is your event date&nbsp;<small class="mandatory-star">*</small></label>
							</td>
							<td valign="top">
								<input type="text" name="event_date" id="datepicker" class="datepicker hasDatepicker">
							</td>
 
						</tr>
						<tr>
							<td valign="top">
								<label for="telephone">What the expected Guest Count</label>
							</td>
							<td valign="top">
								<input type="number" name="guest_count" id="guest" placeholder="Guest Count" maxlength="30" size="30">
							</td>
						</tr>
						<tr>
							<td valign="top">
								<label for="comments">&nbsp;</label>
							</td>
							<td valign="top">
								<br>&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="abt-you">
				<h4 class="question-title">About you</h4>
				<table class="table-width">
				<tbody>
					<tr>
						<td valign="top">
							<label for="email">Name&nbsp;<small>*</small></label>
						</td>
						<td valign="top">
							<input type="text" maxlength="50" placeholder="Enter your full name" size="30">
						</td>
					</tr>
					<tr>
						<td valign="top">
							<label for="city">Email&nbsp;<small class="mandatory-star">*</small></label>
						</td>
						<td valign="top">
							<input type="text" name="email" id="email" maxlength="50" placeholder="name@domain.com" size="30">
						</td>
					</tr>
					<tr>
						<td valign="top">
							<label for="comments">Contact Number&nbsp;<small class="mandatory-star">*</small></label>
						</td>
						<td valign="top">
							<input type="text" maxlength="10" placeholder="Enter your phone number" size="10">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
			<div style="clear:both;">&nbsp;</div>
	</div>
	<div style="text-align:center; margin-bottom:10px;">
		<p>
			<label><input type="checkbox" value="agree">I agree to the Terms and Conditions</label>
		</p>
		<button type="submit" class="red-button" name="submit" value="SUBMIT" style="color: #ffffff;background-color:#8d0202;border-color:#9f2424;">SUBMIT</button>
	</div>
</div>
