<div>
		<div class="slogan_container">
			<h2 class="slogan">The Best Function halls in Hyderabad</h2>
			<h3>If you are looking for The Best Venues in Hyderabad for your parties, you are in correct place. 
				<div class="show_more">
					<a class="wpsm-show" style="color: #cc0000 ;text-align: left "> more</a>
					<div class="wpsm-content wpsm-content-hide"> Here we provide you the best function halls, banquet halls and convention centers Within your budget for wedding, engagement, reception and birthdays. We also provide additional information such as seating capacity, facilities, reviews, location on map, user ratings and many more 
						<p class="wpsm-hide" style="color: #cc0000 ;text-align: left "> less</p>
					</div>
				</div>
			</h3>
		</div>
</div>